.bg-dark {
    background-color: #fff !important;
}

.logo {
    height: 50px;
    width: auto;
}

.active {
    color: rgb(12 90 108) !important;
}

.nav-link {
    font-size: 18px !important;
    color: rgb(12 90 108) !important;
}

.bg-light {
    background-color: #c6ddeb !important;
}

.dataTables_length {
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

.d-none {
    display: none;
}

#grafico,
#mapdiv {
    min-height: 300px;
    position: relative;
}

#grafico>.spinner-border,
#mapdiv>.spinner-border {
    display: inline-block;
    width: 75px !important;
    height: 75px !important;
    vertical-align: -10px;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: .75s linear infinite spinner-border;
    animation: .75s linear infinite spinner-border;
    position: absolute;
    color: #0c5a6c;
    top: 100px;
    left: 45%;
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -10px;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: .75s linear infinite spinner-border;
    animation: .75s linear infinite spinner-border;
    margin-right: 10px;
    color: #0c5a6c;
}

table {
    padding-top: 0px !important;
    border: 1px solid #c6ddeb;
    border-radius: 7px 7px 0 0;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #0c5a6c !important;
}

table th {
    background: #c6ddeb;
    border-bottom: none !important;
    color: #0c5a6c;
    padding: 10px;
}

.filters th {
    border-radius: 0 !important;
}

select {
    padding: .375rem 2.25rem .375rem .75rem !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    appearance: auto;
    outline: 0;
}

input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #0c5a6c !important;
    border: none !important;
    background: #c6ddeb !important;
    transition: all .3s ease !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #0c5a6c !important;
    border: none !important;
    background: #c6ddeb !important;
    transition: all .3s ease !important;
}

.dataTables_paginate .current {
    background: #32857d !important;
    color: #ffffff !important;
}

.dataTables_paginate .previous {
    border-radius: 3px 0 0 3px !important;
    border-left: none !important;
    height: 36px !important;
}

.dataTables_paginate .next {
    border-radius: 0 3px 3px 0 !important;
    border-right: none !important;
    height: 36px !important;
    margin-top: -1px !important;
}

.ellipsis {
    display: inline-block;
    padding: 0 12px !important;
    height: 43px !important;
    vertical-align: middle;
    line-height: 33px;
    margin-top: -3px;
    cursor: default;
    background: #0c5a6c;
    color: #c6ddeb;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    box-sizing: border-box;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #c6ddeb !important;
    border-radius: 2px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.ellipsis:hover {
    color: #0c5a6c !important;
    background: #c6ddeb !important;
    transition: all .3s ease !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #999 !important;
    background: transparent;
    box-shadow: none;
}

#tabelaOnibus_filter {
    display: none;
}


/*#tabelaOnibus_info {
      position: absolute;
      bottom: 60px;
      left: 40px;
    }

    #tabelaOnibus_paginate {
      position: absolute;
      bottom: 60px;
      right: 40px;
    }*/

.paginate_button {
    padding: 12px 17px !important;
    background: #0c5a6c !important;
    text-decoration: none !important;
    cursor: pointer !important;
    font-weight: bold !important;
    color: #c6ddeb !important;
    border: none !important;
    margin-left: 0px !important;
    border-radius: 0 !important;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 10 0 10px 0;
    white-space: nowrap;
    text-align: right;
}

.sidebar {
    padding: 74px 0 0 !important;
}

.navbar-dark .navbar-toggler {
    color: rgb(12, 90, 108) !important;
    border-color: rgb(12, 90, 108) !important;
    background: rgb(12, 90, 108) !important;
}

.navbar-dark .navbar-brand {
    text-align: center;
    box-shadow: none !important;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: transparent !important;
    box-shadow: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#mapdiv {
    width: 100%;
    min-height: 300px;
    height: 300px;
    margin-bottom: 20px !important;
}

#mapdiv.show {
    height: 500px;
}

.sair {
    display: block;
}

.sairDesktop {
    display: none;
}

@media (max-width: 991.98px) and (orientation: landscape) {
    .navbar .navbar-toggler {
        top: 1.25rem !important;
        right: 1rem;
    }
    .logo {
        height: 60px !important;
        width: auto;
    }
    main {
        margin-top: 20px !important;
    }
    .nav-link {
        font-size: 26px !important;
    }
    .sair {
        display: none;
    }
    .sairDesktop {
        display: block;
    }
    .sidebar {
        top: 1rem !important;
        z-index: 1005 !important;
    }
    .paginate_button {
        padding: 17px 22px !important;
        background: #0c5a6c !important;
        text-decoration: none !important;
        cursor: pointer !important;
        font-weight: bold !important;
        color: #c6ddeb !important;
        border: none !important;
        margin-left: 0px !important;
        border-radius: 0 !important;
    }
    .ellipsis {
        height: 52px !important;
        line-height: 43px;
        margin-top: -2px;
        padding: 0 18px !important;
    }
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 640px) {
    .dataTables_wrapper .dataTables_length {
        float: left;
        text-align: left;
    }
    .logo {
        height: 90px !important;
        width: auto;
    }
    main {
        margin-top: 30px !important;
    }
    .sidebar {
        top: 0;
        z-index: 1005 !important;
    }
    .navbar .navbar-toggler {
        top: 1.25rem !important;
        right: 1rem;
    }
    .nav-link {
        font-size: 26px !important;
    }
    .sair {
        display: none;
    }
    .sairDesktop {
        display: block;
    }
    .paginate_button {
        padding: 12px 15px !important;
        background: #0c5a6c !important;
        text-decoration: none !important;
        cursor: pointer !important;
        font-weight: bold !important;
        color: #c6ddeb !important;
        border: none !important;
        margin-left: 0px !important;
        border-radius: 0 !important;
    }
    .ellipsis {
        height: 42px !important;
        line-height: 36px;
        margin-top: -2px;
    }
    #mapdiv {
        min-height: 300px;
        position: relative;
    }
    #grafico>.spinner-border,
    #mapdiv>.spinner-border {
        position: absolute;
        top: 100px;
        left: 40%;
    }
}

.table-responsive {
    margin-bottom: 50px;
    overflow-y: hidden;
    /*min-height: 240px;*/
    border-radius: 7px 7px 0 0;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0;
}